@import "_variables";
@import "_mixins";

.sidenav {
  background-color: aquamarine;
  width: 250px;
  height: 95vh;
  padding: 0px 30px;
  transition: all 0.5s;
  display: flex;
  position: absolute;
  left: -100%;
}

.sidenav.active {
  left: 0;
}

.sidenav ul {
  padding: 10px;
}

.sidenav ul li {
  list-style-type: none;
  margin: 10px 0px;
}

.sidenav ul li a {
  color: black;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-radius: 5px;
  width: 100%;
}

.sidenav ul li a:hover {
  background-color: bisque;
}
