@import "./home";
@import "./login";
@import "./sideBar";
@import "./register";
@import "./variables";
@import "./mixins";
@import "./users";


* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $tertiaryColor;
}
.TrackContainer{
  color: aqua;
}
.album-list-container {
  max-height: 400px; /* Set the maximum height for the scrollable container */
}
.playlist-list-container {
  max-height: 400px; /* Set the maximum height for the scrollable container */
}
.album-list {
  display: flex;
  flex-direction: flex;
  align-items: center;
}
.playlist-list {
  display: flex;
  flex-direction: flex;
  align-items: center;
}
h2 {
  color: bisque;
}
h1 {
  color: whitesmoke;
}
.scrollable-row {
  max-height: 500px; // Set the maximum height of the scrollable row
  overflow-y: auto; 
}
.App {
  color: bisque;
  align-items: center;
  text-align: center;
}
