@import "./home";
@import "./login";
@import "./sideBar";
@import "./register";
@import "./variables";
@import "./mixins";
@import "./users";
@import "./profile";

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

header {
  padding: 1rem 2rem;
  background-color: aquamarine;
  height: 4rem;
  width: 100%;
}

body {
  background-color: $tertiaryColor;
}

.icon-wrapper {
  font-size: 2rem;
  display: flex;
  flex-direction: row;
}

.TrackContainer {
  color: aqua;
}
.album-list-container {
  max-height: 400px; /* Set the maximum height for the scrollable container */
}
.playlist-list-container {
  max-height: 400px; /* Set the maximum height for the scrollable container */
}
.album-list {
  display: flex;
  flex-direction: flex;
  align-items: center;
}
.playlist-list {
  display: flex;
  flex-direction: flex;
  align-items: center;
}
h2 {
  color: bisque;
}
h1 {
  color: whitesmoke;
}
.scrollable-row {
  max-height: 500px; // Set the maximum height of the scrollable row
  overflow-y: auto;
}
.App {
  color: bisque;
  align-items: center;
  text-align: center;
}
