* {
  margin: 0;
  box-sizing: border-box;
}
.nav-container {
  background-color: #333;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-buttons {
  display: flex;
  gap: 15px; /* Add spacing between buttons */
}

.nav-buttons button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.nav-buttons button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.nav-buttons button:focus {
  outline: none;
}

.nav-buttons button:active {
  transform: translateY(1px);
}

@media screen and (max-width: 768px) {
  .nav-buttons {
    flex-direction: column;
  }
}
.form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form h1 {
  text-align: center;
}

.form label {
  font-weight: bold;
}

.form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form button {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form button:hover {
  background-color: #555;
}

.error {
  color: red;
  text-align: center;
}
.user-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.user-card {
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 300px;
}

.error-message {
  color: red;
}

.refresh-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.refresh-button:hover {
  background-color: #0056b3;
}
